# ERP_CLINICA_PRINCIPAL - Backend
# Copiar este archivo como .env o configurar estas variables en el sistema/servidor.

SERVER_PORT=8085

DB_URL=jdbc:postgresql://localhost:5432/erp_clinica_principal
DB_USERNAME=postgres
DB_PASSWORD=postgres